
AVALIACAO/LibsAux/__history/UrlConn.pas.~3~
*.~2~
AVALIACAO/LibsAux/__history/UrlConn.pas.~1~
AVALIACAO/__history/fAvaliacaoSP.pas.~1~
AVALIACAO/__history/PASP.dpr.~10~
AVALIACAO/__history/PASP.dpr.~11~
AVALIACAO/__history/PASP.dpr.~12~
AVALIACAO/__history/PASP.dpr.~13~
AVALIACAO/__history/PASP.dpr.~14~
AVALIACAO/__history/PASP.dpr.~15~
AVALIACAO/__history/PASP.dpr.~16~
AVALIACAO/__history/PASP.dpr.~17~
AVALIACAO/__history/PASP.dpr.~18~
AVALIACAO/__history/PASP.dpr.~19~
